@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;700&family=Caveat:wght@400;600&family=Hurricane&family=Poppins:wght@300;400;500;600;700;800;900&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  list-style-type: none;
  text-decoration: none;
  font-family: "Arima", cursive;
}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 4px;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  z-index: 10000;
}
body::-webkit-scrollbar {
  display: none;
}
.sidebar {
  width: 245px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  z-index: 100;
  transition: width 300ms;
}
.sidebar-branch {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-branch .logo {
  display: inline-block;
  padding-right: 1rem;
}
.sidebar-menu {
  margin-top: 1rem;
}
.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 2rem;
}
.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: white;
  font-size: 1.1rem;
}
.sidebar-menu a.active {
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: pink;
  border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.logo {
  height: 100%;
  width: 150px;
}
#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-branch,
#nav-toggle:checked + .sidebar li a {
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked + .sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked + .sidebar li .fa-ticket {
  padding: 0;
}
#nav-toggle:checked + .sidebar .sidebar-branch h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child,
#nav-toggle:checked + .sidebar .sidebar-branch .logo {
  display: none;
}
#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}
#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}
.main-content {
  transition: margin-left 300ms;
  margin-left: 245px;
}
header {
  background: linear-gradient(to top, #ed71c4, #f64f59);
  /* background-color: #f64fa3; */
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 245px;
  width: calc(100% - 245px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}
#nav-toggle {
  display: none;
}
header h2 {
  color: #f1f5f9;
}
header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}
.search-wrapper input {
  height: 100%;
  padding-left: 1rem;

  border: none;
  outline: none;
}
.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}
.user-wrapper h4 {
  margin-bottom: 0rem !important;
}
.user-wrapper small {
  display: inline-block;
  color: #f1f5f9;
}
main {
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.wrap {
  width: 100%;
  margin-top: 25px;
  /* margin-left: 10px; */
  /* padding: 15px; */
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.coupon {
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}
.coupon-left {
  float: left;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 20px;
  background-color: #00c3ff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  border-right: 1px dotted blue;
  overflow: hidden;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* display: inline-block; */
}

.coupon-con {
  float: left;
  width: 570px;
  height: 150px;
  position: relative;
  background: linear-gradient(to right, #00c3ff, #ffff1c);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.myvoucher {
  text-align: center;
  margin-top: 2rem;
  font-size: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.fa-ticket {
  color: #00c3ff;
}
/* .qr {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  margin-right: 2px;
} */
.valid {
  background-color: green;
  color: white;
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 55px;
  margin-top: 5px;
}
.sale {
  height: 100%;
  width: 120px;
  /* float: right; */
  position: absolute;
  right: 0;
  /* margin-right: 2px; */
  /* border: 1px solid black; */
}
.sale p {
  color: white;
  font-size: 50px;
}
.coupon-left p {
  color: red;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
}
.coupon-left button {
  background-color: greenyellow;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 80px;
  position: absolute;
  right: 0;
  transition: 3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.coupon-left button:hover {
  background-color: #4daf54;
  box-shadow: 1px 1px 0 0 white, 3px 3px 0 0 #4daf54;
  transform: scale(0.9);
}
.coupon-name {
  /* float: left; */
  position: absolute;
  left: 0;
  width: 80%;
  color: white;
  font-size: 30px;
}